--add_myPlayer
"--position 1.5 5.0"
--add_myPlayer
"--position 7.0 5.0"
--add_myPlayer
"--position 4.5 0.75"
--add_opponent
"--position 2.65 4.29"
--add_opponent
"--position 6.18 4.38"
--add_opponent
"--position 4.5 1.45"
--add_opponent
"--position 3.0 3.22"
--add_opponent
"--position 6.0 3.67"
--add_obstacle
"--positoin 4.5 3.0"
--strategy
GlobalComShadow
