--add_myPlayer
"--position 4.5 3.0 --body_orientation 0.0"
--add_myPlayer
"--position 1.5 3.0 --body_orientation 0.0"
--add_myPlayer
"--position 2.5 2.0 --body_orientation 0.0"
--add_opponent
"--position 7.0 3.0 --body_orientation 3.14159265"
--add_opponent
"--position 8.0 4.0 --body_orientation 3.14159265"
--strategy
BaMichelle
